h1{
  border-color: #b31c8b;
  border-style: dashed;
  display: grid;
  place-items: center;
  font-size: xxx-large;

}

.select {
  display: grid;
  place-items: center;
  font-size: xx-large;
}

table{
  display: grid;
  place-items: center;
  font-size: x-large;
}

